@import 'tailwindcss';

@theme {
	--color-*: initial;

	--color-black: #090605;
	--color-sand-light: #fcfbe7;
	--color-sand: #e7ceaf;
	--color-green: #2e8f09;
	--color-blue: #19589f;
	--color-blue-dark: #323a4f;
	--color-orange: #f66704;
	--color-orange-dark: #c14903;
	--color-purple: #733d8c;
	--color-purple-dark: #3e306c;
}

@layer utilities {
	.chipped-corners {
		clip-path: polygon(
			0 4px,
			4px 4px,
			4px 0,
			calc(100% - 4px) 0,
			calc(100% - 4px) 4px,
			100% 4px,
			100% calc(100% - 4px),
			calc(100% - 4px) calc(100% - 4px),
			calc(100% - 4px) 100%,
			4px 100%,
			4px calc(100% - 4px),
			0 calc(100% - 4px)
		);
	}
}

body {
	background-color: var(--color-blue-dark);
}
