@import 'tailwindcss';

@font-face {
	font-family: 'Cute Pixel';
	src: url('/CutePixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-pixel: 'Cute Pixel', sans-serif;

	--color-*: initial;

	--color-black: #000514;

	--color-sand-100: #fffff7;
	--color-sand-200: #e9dabd;
	--color-sand-300: #cfc0a3;

	--color-brown-100: #f5e6be;
	--color-brown-200: #d3c2a4;
	--color-brown-300: #e2ccb4;
	--color-brown-400: #987f6b;
	--color-brown-450: #7f5a40;
	--color-brown-500: #3e2723;

	--color-orange-400: #ff8c2a;
	--color-orange-500: #ef6c00;
	--color-brown-600: #3c2d2a;
	--color-brown-800: #231917;
	--color-brown-900: #201614;

	--color-gold-100: #f5e284;
	--color-gold-500: #ddbc6f;
	--color-gold-600: #ad802b;
	--color-gold-700: #7f6824;
	--color-gold-800: #200f00;

	--color-olive-100: #cfd9b8;
	--color-olive-500: #5f6a25;

	--color-red-100: #cc7061;
	--color-red-300: #b93b25;
	--color-red-500: #892d20;
}

@layer utilities {
	.chipped-corners {
		clip-path: polygon(
			0 4px,
			2px 4px,
			2px 2px,
			4px 2px,
			4px 0,
			calc(100% - 4px) 0,
			calc(100% - 4px) 2px,
			calc(100% - 2px) 2px,
			calc(100% - 2px) 4px,
			100% 4px,
			100% calc(100% - 4px),
			calc(100% - 2px) calc(100% - 4px),
			calc(100% - 2px) calc(100% - 2px),
			calc(100% - 4px) calc(100% - 2px),
			calc(100% - 4px) 100%,
			4px 100%,
			4px calc(100% - 2px),
			2px calc(100% - 2px),
			2px calc(100% - 4px),
			0 calc(100% - 4px)
		);
	}

	.text-3d {
		--text-3d-depth: 2px;
		--text-3d-depth-1: calc(var(--text-3d-depth) / 4);
		--text-3d-depth-2: calc(var(--text-3d-depth) / 2);
		--text-3d-depth-3: calc(var(--text-3d-depth) * 3 / 4);
		--text-3d-depth-4: var(--text-3d-depth);
		text-shadow:
			-1px 0 0 var(--tw-text-shadow-color),
			-2px 0 0 var(--tw-text-shadow-color),
			0 -1px 0 var(--tw-text-shadow-color),
			0 -2px 0 var(--tw-text-shadow-color),
			-1px -1px 0 var(--tw-text-shadow-color),
			-2px -2px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-1) -1px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-2) -1px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-3) -1px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-4) -1px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-1) -2px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-2) -2px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-3) -2px 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-4) -2px 0 var(--tw-text-shadow-color),
			-1px var(--text-3d-depth-1) 0 var(--tw-text-shadow-color),
			-2px var(--text-3d-depth-1) 0 var(--tw-text-shadow-color),
			-1px var(--text-3d-depth-2) 0 var(--tw-text-shadow-color),
			-2px var(--text-3d-depth-2) 0 var(--tw-text-shadow-color),
			-1px var(--text-3d-depth-3) 0 var(--tw-text-shadow-color),
			-2px var(--text-3d-depth-3) 0 var(--tw-text-shadow-color),
			-1px var(--text-3d-depth-4) 0 var(--tw-text-shadow-color),
			-2px var(--text-3d-depth-4) 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-1) 0 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-2) 0 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-3) 0 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-4) 0 0 var(--tw-text-shadow-color),
			0 var(--text-3d-depth-1) 0 var(--tw-text-shadow-color),
			0 var(--text-3d-depth-2) 0 var(--tw-text-shadow-color),
			0 var(--text-3d-depth-3) 0 var(--tw-text-shadow-color),
			0 var(--text-3d-depth-4) 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-1) var(--text-3d-depth-1) 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-2) var(--text-3d-depth-2) 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-3) var(--text-3d-depth-3) 0 var(--tw-text-shadow-color),
			var(--text-3d-depth-4) var(--text-3d-depth-4) 0 var(--tw-text-shadow-color);
	}

	.text-3d-thick {
		--text-3d-depth: 3px;
	}

	.text-3d-thicker {
		--text-3d-depth: 4px;
	}

	.text-3d-thickest {
		--text-3d-depth: 6px;
	}
}

body {
	background-color: var(--color-black);
}

.os-scrollbar {
	--os-size: 20px;
	--os-padding-perpendicular: 0px;
	--os-padding-axis: 0px;
	--os-handle-border-radius: 0rem;
	--os-track-border-radius: 0rem;

	--os-track-bg: #7e6a51;
	--os-track-bg-hover: #7e6a51 !important;
	--os-track-bg-active: #7e6a51 !important;

	--os-handle-bg: #bea684;
	--os-handle-bg-hover: #bea684 !important;
	--os-handle-bg-active: #bea684 !important;
}

.os-scrollbar-track {
	border: 2px solid var(--color-black) !important;
	clip-path: polygon(
		0 2px,
		2px 2px,
		2px 0,
		calc(100% - 2px) 0,
		calc(100% - 2px) 2px,
		100% 2px,
		100% calc(100% - 2px),
		calc(100% - 2px) calc(100% - 2px),
		calc(100% - 2px) 100%,
		2px 100%,
		2px calc(100% - 2px),
		0 calc(100% - 2px)
	);
}

.os-scrollbar-handle {
	border-top: 2px solid #fdf1db !important;
	border-right: 2px solid #76685b !important;
	border-bottom: 2px solid #76685b !important;
	border-left: 2px solid #fdf1db !important;
	clip-path: polygon(
		0 2px,
		2px 2px,
		2px 0,
		calc(100% - 2px) 0,
		calc(100% - 2px) 2px,
		100% 2px,
		100% calc(100% - 2px),
		calc(100% - 2px) calc(100% - 2px),
		calc(100% - 2px) 100%,
		2px 100%,
		2px calc(100% - 2px),
		0 calc(100% - 2px)
	);
}

.os-scrollbar-vertical .os-scrollbar-handle:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 2px;
	background-color: #76685b;
	box-shadow:
		0 -4px 0 0 #76685b,
		0 4px 0 0 #76685b;
}

.os-scrollbar-horizontal .os-scrollbar-handle:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 8px;
	background-color: #76685b;
	box-shadow:
		-4px 0 0 0 #76685b,
		4px 0 0 0 #76685b;
}
